@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: league spartan;
  src: url("../src/assets//font/LeagueSpartan-VariableFont_wght.ttf");
}

:root {
  --color-text: #fff;
  --color-background: #19457a;
  --color-border: #ffbd38;
  --color-light: #61abb3;

  font-family: league spartan, sans-serif;
  line-height: 1.6;
  font-weight: normal;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}
#app {
  position: relative;
  display: grid;
  max-width: 100vw;
  margin: 0 auto;
  font-weight: normal;
  padding: 3vw;
}
.logo {
  position: fixed;
  right: 2rem;
}
h1 {
  font-size: 2.2rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 2em 0;
  font-size: 1.5em;
  font-weight: normal;
  background-color: var(--color-border);
  cursor: pointer;
  transition: var(--color-border) 0.25s;
  color: var(--color-background);
}
button:hover {
  border-color: var(--color-background);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

.mainContent {
  margin: 10vw 15vw;
}
.contact {
  position: fixed;
  bottom: 4vw;
  padding: 1vw;
  border-left: 2px solid var(--color-border);
}
.contact > li:hover {
  transform: rotate(30deg);
}
.title {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--color-border);
}
.title img {
  margin-right: 1rem;
}

.heading {
  font-weight: bolder;
  font-size: 5rem;
  border-bottom: 2px solid var(--color-border);
}
.subHeading {
  font-size: 3rem;
}
nav {
  position: fixed;
  font-size: 1.5rem;
  margin-top: 2rem;
  height: 100vh;
  padding: 0 1rem;
  border-left: 2px solid var(--color-border);
}

.border-line {
  width: 2px;
  height: 100vh;
  margin: 0 auto;
  animation-name: borderAnim;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: inherit;
}
@keyframes borderAnim {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

.scroll-down-button {
  position: fixed;
  bottom: 20px;
  left: 50%;

  --sizeX: 30px;
  --sizeY: 50px;
  border: calc(var(--sizeX) / 10) solid var(--color-border);
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
  height: var(--sizeY);
  margin-bottom: 16px;
  margin-left: var(--sizeX/2);
  position: relative;
  width: var(--sizeX);
}
.scroll-down-button i {
  animation: scroll-down-button-anim 2s infinite;
  background-color: var(--color-light);
  border-radius: 100%;
  bottom: 30px;
  box-shadow: 0 -5px 3px 1px #2a547066;
  box-sizing: border-box;
  content: "";
  height: 6px;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  width: 6px;
}
@keyframes scroll-down-button-anim {
  0% {
    bottom: 30px;
    opacity: 1;
  }
  100% {
    bottom: 5px;
    opacity: 0;
  }
}

.content {
  padding: 1.5rem;
  line-height: 1.7;
  font-size: large;
}

.turned_img {
  margin-right: 0.5rem;
  animation: roundImg infinite 10s linear;
}

@keyframes roundImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel_D {
  position: relative;
  cursor: pointer;
  /* margin: auto; */
}
.carousel_D span {
  animation: Caarousel_animate__YDC4E 2s infinite;
  animation-delay: 0s;
  border-bottom: 5px solid var(--color-light);
  border-right: 5px solid var(--color-light);
  display: block;
  height: 1.5vw;
  margin: -10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 1.5vw;
}

.scroll-down-span span {
  animation: Caarousel_animate__YDC4E 2s infinite;
  animation-delay: 0s;
  border-bottom: 5px solid var(--color-light);
  border-right: 5px solid var(--color-light);
  display: block;
  height: 0.9vw;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 0.9vw;
}

@keyframes Caarousel_animate__YDC4E {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.img{
  width: 25vw;
}

@media only screen and (max-width: 600px) {
  #app {
    position: relative;
    justify-items: center;
    align-items: center;
    max-width: 100vw;
    margin: 0 auto;
    font-weight: normal;
    padding: 1rem 3vw;
  }
  .mainContent {
    margin: 0;
    text-align: center;
    align-items: center;
    padding: 1rem ;
  }
  .carousel_D span {
    height: 10px;
    margin: -5px;
    width: 10px;
  }
  nav ul {
    display: none;
  }

  .heading {
    font-weight: bolder;
    font-size: 4rem;
    border-bottom: 1px solid var(--color-text);
  }
  .subHeading {
    font-size: 2rem;
  }

  .carousel_D {
    position: relative;
    cursor: pointer;
    margin: auto;
    
  }
  .img{
    width: 80vw;
  }
}
